
<h1>Available Teams</h1>
<ul>
    <% @teams.each do |team| %>
        <li><%= team.name %><br/>
            <% if current_user.try(:admin?) %>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
                        Manage Team <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><%= link_to 'Edit', edit_team_path(team) %></li>
                        <li><%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to 'Create New Team', new_team_path %></li>
                    </ul>
                </div>
            <% end %>
            <%= link_to 'View Team', team, class: 'btn btn-default' %>

            <% end %>
        </li>
</ul>
<br>
