<h1><%= @team.name %></h1><br/>
<% if @team.users.any? %>
    <% @team.users.each do |user| %>
        <ul>
            <li><%= link_to user.username.capitalize, user_path(user) %></li>
        </ul>
        <% if user.tasks.any? %>
            <% user.tasks.each do |task| %>
                <ul>
                    <li><%= task.name %></li>
                </ul>
            <% end %>
        <% end %>
   <% end %>
<% end %>
<br/>
<% if current_user.try(:admin) %>
    <%= link_to 'Change Team Name', edit_team_path(@team) %> |
<% end %>
<% if current_user && current_user == @team.leader %>
    <%= link_to 'Add Team Members', users_path %> |
    <%= link_to 'Remove Team Members', '#' %> |
    <%= link_to 'Assign Tasks', '#' %> |
    <%= link_to 'Create New Tasks' %> |
<% end %>
<%= link_to 'Back', teams_path %>
