<h1><%= @team.name %></h1><br/>
<% if @team.users.any? %>
    <% @user_teams.each do |uteam| %>
        <ul>
            <li><%= link_to uteam.user.username.capitalize, user_path(uteam.user) %>
                <% if uteam.role == 'team_lead' %>
                    <i class="fa fa-star"></i>
                <% end %>
            </li>
        </ul>
        <% if uteam.user.tasks.any? %>
            <% uteam.user.tasks.each do |task| %>
                <ul>
                    <li><%= task.name %></li>
                </ul>
            <% end %>
        <% end %>
   <% end %>
<% end %>
<br/>
<% if current_user.try(:admin) %>
    <%= link_to 'Change Team Name', edit_team_path(@team) %> |
<% end %>
<% if @team.leader.include? current_user %>
    <%= link_to 'Add Team Members', team_users_path %> |
    <%= link_to 'Remove Team Members', '#' %> |
    <%= link_to 'Assign Tasks', new_team_task_path %> |
    <%= link_to 'Create New Tasks' %> |
<% end %>
<%= link_to 'Back', teams_path %>
