<h1>Available Tasks</h1>
<ul>
    <% @tasks.each do |task| %>
        <li><strong><%= task.name %></strong><br/>
            <%= task.description %><br/>
            <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-default' %>
            <%= link_to 'Assign to Team', '#', class: 'btn btn-' %>
        </li>
    <% end %>
</ul>
<%= link_to 'Create New Task', new_task_path, class: 'btn btn-default' %>
