<h1><%= @task.name %></h1>
<div class="col-xs-3 well">
    <h2>Users Assigned to Task</h2>
    <% @task.users.each do |user| %>
        <ul class="list-group">
            <li class="list-group-item"><%= link_to user.username.capitalize, user_path(user) %>
                <% if Progress.find_by(task_id: @task.id, user_id: user.id, team_id: params[:team_id]).complete? %>
                    <p class="text-success">Completed!</p>
                <% else %>
                    <%= link_to 'Set Complete', progress_path(user_id: user.id, task_id: @task.id, team_id: params[:team_id]), class: 'btn btn-default', method: :patch %>
                <% end %>
            </li>
        </ul>
    <% end %>
</div>
<div class="col-lg-6">
    <%= pie_chart @chart.to_js %>
</div>
<div class="col-xs-3 well">
        <strong>Description:</strong><br/>
        <%= @task.description %><br/>
        <strong>Condition: </strong><%= @task.condition %><br/>
        <strong>Standard: </strong><%= @task.standard %>
</div>
